{
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "^next$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@/[^/]+/(.*)$",
    "^[./]"
  ],
  "tailwindStylesheet": "./src/app/globals.css"
}
