@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Segoe UI",
    Arial, "Noto Sans JP", Meiryo, sans-serif;

  --color-nord0: oklch(32.438% 0.02298 264.201);
  --color-nord1: oklch(37.921% 0.02902 266.485);
  --color-nord2: oklch(41.574% 0.03242 264.149);
  --color-nord3: oklch(45.229% 0.03527 264.149);
  --color-nord4: oklch(89.926% 0.01648 262.809);
  --color-nord5: oklch(93.3% 0.01049 261.89);
  --color-nord6: oklch(95.128% 0.00755 260.887);
  --color-nord7: oklch(76.288% 0.04772 194.593);
  --color-nord8: oklch(77.465% 0.0623 217.538);
  --color-nord9: oklch(69.652% 0.05919 248.724);
  --color-nord10: oklch(59.437% 0.07732 254.051);
  --color-nord11: oklch(60.609% 0.12059 15.311);
  --color-nord12: oklch(69.29% 0.09628 38.207);
  --color-nord13: oklch(85.486% 0.08915 84.092);
  --color-nord14: oklch(76.827% 0.07485 131.108);
  --color-nord15: oklch(69.207% 0.06254 332.601);

  /* Semantic Mapping */
  --color-bg-main: var(--bg-main);
  --color-bg-surface: var(--bg-surface);
  --color-bg-sub: var(--bg-sub);
  --color-fg-body: var(--fg-body);
  --color-fg-muted: var(--fg-muted);
  --color-primary: var(--primary);
  --color-info: var(--info);
  --color-border-main: var(--border-main);
  --color-focus-ring: var(--focus-ring);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
}

:root {
  --bg-main: var(--color-nord6);
  --bg-surface: theme(--color-white);
  --bg-sub: var(--color-nord5);
  --fg-body: var(--color-nord0);
  --fg-muted: var(--color-nord3);
  --primary: var(--color-nord10);
  --info: var(--color-nord10);
  --border-main: var(--color-nord4);
  --focus-ring: var(--color-nord10);
  --danger: var(--color-nord11);
  --warning: var(--color-nord12);
  --success: var(--color-nord14);
}

.dark {
  --bg-main: var(--color-nord0);
  --bg-surface: var(--color-nord1);
  --bg-sub: var(--color-nord2);
  --fg-body: var(--color-nord6);
  --fg-muted: var(--color-nord4);
  --primary: var(--color-nord8);
  --info: var(--color-nord9);
  --border-main: var(--color-nord2);
  --focus-ring: var(--color-nord8);
  --danger: var(--color-nord11);
  --warning: var(--color-nord13);
  --success: var(--color-nord14);
}

@layer base {
  html {
    width: 100%;
    min-width: 320px;
  }

  body {
    color: var(--color-fg-body);
    background: var(--color-bg-surface);
    font-family: var(--font-sans);
  }

  .dark body {
    color: var(--color-fg-dark);
    background: var(--color-bg-surface);
  }
  .markdown pre:focus {
    outline: none;
  }

  .markdown pre:focus-visible {
    outline: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pl-safe {
    padding-left: env(safe-area-inset-left);
  }
  .pr-safe {
    padding-right: env(safe-area-inset-right);
  }
}
